/* #fc5295 #8100e4 */
body{
	background-color: #2F2D2E;
}

@media(hover: hover){
	#flip:hover{
		transform: scale(1.2);
		transition: 0.3s ease;
	}
}

#flip{
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: 0.3s ease;
}

.game-wrapper-all{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.options-wrapper{
	background-color: #fff;
	border-style: dashed;
	padding: 5px;	
}

.game-wrapper{
	display: flex;
	flex-flow: row-reverse;

}

.game{
	width: 800px;
	height: 800px;
	display: flex;
	flex-flow: column;
	align-content: flex-start;
}

.row{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.square{
	width: 100px;
	height: 100px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square img{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.squareBlack{
	background-color:#8100e4;
}

.squareWhite{
	background-color: #fff;
}

.circle{
	width: 50px !important;
	height: 50px !important;
	opacity: 0.7;
	z-index: 5;
}

@media (max-width: 800px) {
	.game-wrapper-all{
		transform: scale(0.6);
	}
}

@media (max-width: 500px) {
	.game-wrapper-all{
		transform: scale(0.4);
	}
}

@media (max-width: 350px) {
	.game-wrapper-all{
		transform: scale(0.3);
	}
}



